@font-face {
	font-family: iconfont-toolbar;
	src: url(//csdnimg.cn/cdn/content-toolbar/iconfont.eot?t=1509003158575#iefix) format("embedded-opentype"), url(//csdnimg.cn/cdn/content-toolbar/iconfont.ttf?t=1509003158575) format("truetype"), url(//csdnimg.cn/cdn/content-toolbar/iconfont.svg?t=1509003158575#iconfont) format("svg");
}
.csdn-toolbar .clearfix::after {
	clear: both;
}
.csdn-toolbar .form-horizontal .form-group::after {
	clear: both;
}
.csdn-toolbar::after {
	clear: both;
}
.h1 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
.h2 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
.h3 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
.h4 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
.h5 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
.h6 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
a {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
abbr {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
body {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
cite {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
dd {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
dl {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
dt {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
h1 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
h2 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
h3 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
h4 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
h5 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
h6 {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
iframe {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
input {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
li {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
object {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
ol {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
p {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
pre {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
span {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
ul {
	font-family: "Microsoft YaHei","SF Pro Display",Roboto,Noto,Arial,"PingFang SC",sans-serif;
}
code {
	font-family: "Source Code Pro","DejaVu Sans Mono","Ubuntu Mono","Anonymous Pro","Droid Sans Mono";
}
kbd {
	font-family: "Source Code Pro","DejaVu Sans Mono","Ubuntu Mono","Anonymous Pro","Droid Sans Mono";
}
pre {
	font-family: "Source Code Pro","DejaVu Sans Mono","Ubuntu Mono","Anonymous Pro","Droid Sans Mono";
}
samp {
	font-family: "Source Code Pro","DejaVu Sans Mono","Ubuntu Mono","Anonymous Pro","Droid Sans Mono";
}
.csdn-toolbar .container .left-menu li a .iconfont-toolbar {
	font-family: iconfont-toolbar !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.iconfont-toolbar {
	font-family: iconfont-toolbar !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.toolbar-xiajiantou::before {
	content: "\e843";
}
.toolbar-shouji::before {
	content: "\e844";
}
.toolbar-tianxie::before {
	content: "\e845";
}
.toolbar-sousuo::before {
	content: "\e846";
}
.toolbar-guanbi::before {
	content: "\e847";
}
.toolbar-caidan::before {
	content: "\e848";
}
.toolbar-yonghudenglu::before {
	content: "\e849";
}
.toolbar-csdnlogo::before {
	content: "\e855";
}
.toolbar-morentouxiang::before {
	content: "\e87e";
}
.toolbar-icon_boke::before {
	content: "\e880";
}
.toolbar-icon_gitchatx::before {
	content: "\e881";
}
.toolbar-guanbi1::before {
	content: "\e882";
}
.toolbar-icon {
	overflow: hidden; fill: currentColor;
}
.csdn-toolbar {
	background: rgb(255, 255, 255); padding: 0px 28px 0px 17px; width: 100%; color: rgb(51, 51, 51); line-height: 1.5em; font-size: 0.75em; min-width: 1200px; box-sizing: border-box; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05); -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.csdn-toolbar * {
	box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
.csdn-toolbar ::after {
	box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
.csdn-toolbar ::before {
	box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
.csdn-toolbar::after {
	height: 0px; display: block; visibility: hidden; content: "";
}
.csdn-toolbar blockquote {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar code {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar dd {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar div {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar dl {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar dt {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar fieldset {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar form {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h1 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h2 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h3 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h4 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h5 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar h6 {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar input {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar legend {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar li {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar pre {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar td {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar textarea {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar th {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar ul {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.5em;
}
.csdn-toolbar table {
	border-collapse: collapse; table-layout: fixed; border-spacing: 0;
}
.csdn-toolbar fieldset {
	border: 0px currentColor; border-image: none;
}
.csdn-toolbar img {
	border: 0px currentColor; border-image: none;
}
.csdn-toolbar img {
	display: block;
}
.csdn-toolbar .clearfix::after {
	display: table; content: " ";
}
.csdn-toolbar .clearfix::before {
	display: table; content: " ";
}
.csdn-toolbar .form-horizontal .form-group::after {
	display: table; content: " ";
}
.csdn-toolbar .form-horizontal .form-group::before {
	display: table; content: " ";
}
.csdn-toolbar address {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar caption {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar cite {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar code {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar dfn {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar em {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar strong {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar th {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar var {
	font-style: normal; font-weight: 400;
}
.csdn-toolbar ul {
	list-style: none;
}
.csdn-toolbar caption {
	text-align: left;
}
.csdn-toolbar th {
	text-align: left;
}
.csdn-toolbar .clearfix {
	overflow: visible;
}
.csdn-toolbar h1 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-weight: 700;
}
.csdn-toolbar h2 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-weight: 700;
}
.csdn-toolbar h3 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-weight: 700;
}
.csdn-toolbar h4 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-weight: 700;
}
.csdn-toolbar h5 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-weight: 700;
}
.csdn-toolbar h6 {
	background: 0px 0px; margin: 0px; text-align: left; color: rgb(51, 51, 51); line-height: 1.5em; font-weight: 700;
}
.csdn-toolbar h1 {
	font-size: 3em;
}
.csdn-toolbar h2 {
	font-size: 2.5em;
}
.csdn-toolbar h3 {
	font-size: 2em;
}
.csdn-toolbar h4 {
	font-size: 1.5em;
}
.csdn-toolbar h5 {
	font-size: 1.16em;
}
.csdn-toolbar h6 {
	font-size: 1em;
}
.csdn-toolbar textarea {
	resize: none;
}
.csdn-toolbar a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.csdn-toolbar a:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
.csdn-toolbar a:hover {
	text-decoration: none;
}
.csdn-toolbar h1 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h1 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h2 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h2 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h3 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h3 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h4 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h4 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h5 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h5 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h6 a:link {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h6 a:visited {
	color: rgb(51, 51, 51);
}
.csdn-toolbar h1 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h2 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h3 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h4 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h5 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar h6 a:hover {
	color: rgb(204, 0, 0);
}
.csdn-toolbar a:focus {
	outline: 0px;
}
.csdn-toolbar a.f-blue:link {
	color: rgb(41, 129, 169); text-decoration: none;
}
.csdn-toolbar a.f-blue:visited {
	color: rgb(41, 129, 169); text-decoration: none;
}
.csdn-toolbar a.f-blue:visited {
	color: rgb(2, 93, 135); text-decoration: none;
}
.csdn-toolbar a.f-undline:link {
	text-decoration: underline;
}
.csdn-toolbar a.f-undline:visited {
	text-decoration: underline;
}
.csdn-toolbar .col-sm-1 {
	float: left;
}
.csdn-toolbar .col-sm-10 {
	float: left;
}
.csdn-toolbar .col-sm-11 {
	float: left;
}
.csdn-toolbar .col-sm-2 {
	float: left;
}
.csdn-toolbar .col-sm-3 {
	float: left;
}
.csdn-toolbar .col-sm-4 {
	float: left;
}
.csdn-toolbar .col-sm-5 {
	float: left;
}
.csdn-toolbar .col-sm-6 {
	float: left;
}
.csdn-toolbar .col-sm-7 {
	float: left;
}
.csdn-toolbar .col-sm-8 {
	float: left;
}
.csdn-toolbar .col-sm-9 {
	float: left;
}
.csdn-toolbar .col-sm-12 {
	width: 100%;
}
.csdn-toolbar .col-sm-11 {
	width: 91.66%;
}
.csdn-toolbar .col-sm-10 {
	width: 86.33%;
}
.csdn-toolbar .col-sm-9 {
	width: 75%;
}
.csdn-toolbar .col-sm-8 {
	width: 66.66%;
}
.csdn-toolbar .col-sm-7 {
	width: 58.33%;
}
.csdn-toolbar .col-sm-6 {
	width: 50%;
}
.csdn-toolbar .col-sm-5 {
	width: 41.66%;
}
.csdn-toolbar .col-sm-4 {
	width: 33.33%;
}
.csdn-toolbar .col-sm-3 {
	width: 25%;
}
.csdn-toolbar .col-sm-2 {
	width: 16.66%; float: left;
}
.csdn-toolbar .col-sm-1 {
	width: 8.33%;
}
.csdn-toolbar .pull-left {
	float: left;
}
.csdn-toolbar .pull-right {
	margin-right: -8px; float: right;
}
.csdn-toolbar a {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: 400; text-decoration: none;
}
.csdn-toolbar a:hover {
	color: rgb(51, 51, 51);
}
.csdn-toolbar dl {
	margin: 0px; font-size: 12px;
}
.csdn-toolbar li {
	margin: 0px; padding: 0px; height: 100%;
}
.csdn-toolbar ul {
	margin: 0px; padding: 0px; height: 100%;
}
.csdn-toolbar li {
	background: 0px 0px; border-width: 0px 1px; border-style: solid; border-color: rgb(238, 238, 238) rgb(255, 255, 255) rgb(238, 238, 238) rgb(238, 238, 238); list-style: none; border-image: none; width: auto; height: 40px; float: left; position: relative;
}
.csdn-toolbar .hide {
	display: none;
}
.csdn-toolbar .open .dropdown-menu {
	border-radius: 0px; top: 23px; display: block; min-width: 70px;
}
.csdn-toolbar .open .dropdown-menu li {
	border: 0px currentColor; border-image: none; width: 100%; height: auto; text-align: center; color: rgb(51, 51, 51); padding-right: 10px; float: left;
}
.csdn-toolbar input:focus {
	border-color: rgb(153, 204, 255); outline: 0px; box-shadow: none;
}
.csdn-toolbar textarea:focus {
	border-color: rgb(153, 204, 255); outline: 0px; box-shadow: none;
}
.csdn-toolbar .form-horizontal .form-group {
	margin: 0px 0px 10px;
}
.csdn-toolbar .form-horizontal .form-group .ft {
	width: 362px; padding-left: 12px; margin-left: 25px;
}
.csdn-toolbar .form-horizontal .control-label {
	padding: 7px 10px 0px 0px; width: 48px; text-align: right; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.csdn-toolbar .form-horizontal .control-label .red_txt {
	color: red; padding-right: 3px;
}
.csdn-toolbar .form-control {
	padding: 0px 7px; border-radius: 0px; border: 1px solid rgb(204, 204, 204); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-image: none; width: 336px; height: 28px; color: rgb(85, 85, 85); line-height: 1.4285; font-size: 14px; vertical-align: middle; display: block; box-shadow: none; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.csdn-toolbar textarea.form-control {
	height: 70px; padding-top: 5px;
}
.csdn-toolbar .nobg {
	background: 0px 0px !important;
}
.csdn-toolbar .icon-enter-sm {
	background-image: url("http://c.csdnimg.cn/public/common/toolbar/images/f_icon.png");
}
.csdn-toolbar .icon-hasnotes-sm {
	background-image: url("http://c.csdnimg.cn/public/common/toolbar/images/f_icon.png");
}
.csdn-toolbar .write-icon {
	background-image: url("http://c.csdnimg.cn/public/common/toolbar/images/f_icon.png");
}
.csdn-toolbar .icon-enter-sm {
	background-position: 0px -192px;
}
.csdn-toolbar .icon .wrap {
	background: rgb(255, 255, 255); padding: 7px; border: 1px solid rgb(204, 204, 204); border-image: none; top: 30px; font-size: 12px; display: none; position: absolute; box-shadow: 0px 3px 2px rgba(0,0,0,0.15);
}
.csdn-toolbar .icon .curr-icon-wrap {
	top: -4px; width: 41px; height: 3px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
body .csdn-toolbar .container {
	margin: 0px auto; width: 1200px;
}
body .csdn-toolbar .container .left-menu {
	margin-left: -12px;
}
.csdn-toolbar .container::after {
	display: table; content: " ";
}
.csdn-toolbar .container::before {
	display: table; content: " ";
}
.csdn-toolbar .container li {
	transition:background-color 1s; width: auto; border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none; -webkit-transition: background-color 1s;
}
.csdn-toolbar .container .pull-right li a {
	text-align: center; color: rgb(61, 61, 61); display: inline-block;
}
.csdn-toolbar .container .left-menu li a {
	height: 38px; text-align: center; color: rgb(61, 61, 61); line-height: 40px; font-size: 14px; margin-right: 5px; margin-left: 5px; display: block;
}
.csdn-toolbar .container .left-menu li:first-child a {
	width: 90px; height: 40px; margin-right: 0px; margin-left: 0px;
}
.csdn-toolbar .container .left-menu li .active {
	border-bottom-color: rgb(202, 12, 22); border-bottom-width: 2px; border-bottom-style: solid;
}
body .csdn-toolbar .container .left-menu li:first-child a svg {
	width: 80px; height: 40px;
}
.csdn-toolbar .container .pull-right {
	padding: 7px 0px 0px; height: 32px;
}
.csdn-toolbar .container .pull-right ul {
	height: 100%;
}
.csdn-toolbar .container .pull-right ul li {
	height: 100%;
}
.csdn-toolbar .container .pull-right li a {
	height: 26px; line-height: 26px;
}
.csdn-toolbar .container .left-menu .show-more {
	width: 70px;
}
.csdn-toolbar .container .left-menu .show-more .more div a {
	height: 32px; line-height: 32px; padding-right: 10px; padding-left: 10px;
}
.csdn-toolbar .container .left-menu .show-more .more div:last-child a {
	padding-bottom: 4px;
}
.csdn-toolbar .container .left-menu li a .iconfont-toolbar {
	margin: 0px 3px; transform-origin: 50% 48%; transition:transform 0.5s, transform 0.5s; color: rgb(120, 128, 135); vertical-align: middle; display: inline-block; -webkit-transition: -webkit-transform .5s, transform .5s; -webkit-transform-origin: 50% 48%; -moz-transform-origin: 50% 48%; -o-transform-origin: 50% 48%;
}
.csdn-toolbar .container .left-menu .show-more .more {
	border-radius: 0px 0px 4px 4px; left: -24px; top: 7px; width: 125px; padding-top: 8px; padding-bottom: 12px; float: inherit; display: none; position: relative; z-index: 99999; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.csdn-toolbar .container .left-menu li a:hover {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .left-menu li a:hover i {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .left-menu .show-more:hover a i {
	transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg);
}
.csdn-toolbar .container .show-more a .icon-xiajiantou {
	top: -1px; position: relative;
}
.csdn-toolbar .container .left-menu .more div:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.csdn-toolbar .container .pull-right .userControl div:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.csdn-toolbar .container .pull-right .userinfo {
	display: none;
}
.csdn-toolbar .container .pull-right .userinfo a {
	color: rgb(61, 61, 61); padding-right: 0px; padding-left: 15px; font-size: 14px; display: inline-block;
}
.csdn-toolbar .container .pull-right .userinfo a:hover {
	color: rgb(202, 12, 22);
}
.csdn-toolbar .container .pull-right .userinfo span {
	color: rgb(136, 136, 136);
}
.csdn-toolbar .container .pull-right .userLogin {
	display: block; position: relative;
}
.csdn-toolbar .container .pull-right .userLogin .guo_tip_box {
	background: rgba(15, 15, 15, 0.8); border-radius: 4px; left: -26px; top: 30px; width: 112px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 12px; display: none; position: absolute; z-index: 101; cursor: pointer; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn .blog_tip_box {
	background: rgba(15, 15, 15, 0.8); border-radius: 4px; left: -26px; top: 30px; width: 112px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 12px; display: none; position: absolute; z-index: 101; cursor: pointer; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn .blog_tip_box {
	width: 160px;
}
.csdn-toolbar .container .pull-right .userLogin .guo_tip_box::before {
	border-width: 4px; border-style: solid; border-color: transparent transparent rgba(15, 15, 15, 0.8); top: -8px; width: 0px; height: 0px; right: 54px; position: absolute; content: "";
}
.csdn-toolbar .container .pull-right .write-bolg-btn .blog_tip_box::before {
	border-width: 4px; border-style: solid; border-color: transparent transparent rgba(15, 15, 15, 0.8); top: -8px; width: 0px; height: 0px; right: 54px; position: absolute; content: "";
}
.csdn-toolbar .container .pull-right .write-bolg-btn .blog_tip_box::before {
	right: 72px;
}
.csdn-toolbar .container .pull-right .userLogin .login_img {
	border-radius: 50%; width: 22px; height: 22px; color: rgb(212, 212, 212); vertical-align: top; display: inline-block; background-color: rgb(238, 238, 238);
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter {
	padding: 2px 10px 2px 14px; width: 25px; height: 30px; line-height: 27px; position: relative;
}
.csdn-toolbar .container .pull-right .userLogin .userControl:hover + .loginCenter {
	background: rgb(244, 245, 246); border-radius: 3px;
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter .userName {
	display: inline-block; white-space: nowrap; -ms-overflow-x: hidden; -ms-text-overflow: ellipsis; max-width: 106px;
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter a {
	width: 25px; height: 24px; padding-right: 0px; padding-left: 0px; display: inline-block;
}
.csdn-toolbar .container .pull-right .userLogin::after {
	border-width: 4px; border-style: solid; border-color: rgb(153, 153, 153) transparent transparent; transform-origin: 50% 25%; transition:transform 0.2s ease-out; top: 12px; width: 0px; height: 0px; right: -1px; display: block; position: absolute; content: ""; -webkit-transition: -webkit-transform .2s ease-out; -webkit-transform-origin: 50% 25%; -moz-transform-origin: 50% 25%; -o-transform-origin: 50% 25%; -moz-transition: -moz-transform .2s ease-out; -o-transition: -o-transform .2s ease-out;
}
.csdn-toolbar .container .pull-right .userLogin:hover::after {
	transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg);
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter a:hover {
	color: rgb(201, 32, 39);
}
body .csdn-toolbar .container .pull-right .userLogin .loginCenter a:hover i {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .pull-right .userLogin .loginCenter span {
	padding-right: 2px; padding-left: 8px;
}
.csdn-toolbar .container .pull-right .userControl {
	padding: 8px 0px; border-radius: 0px 0px 4px 4px; top: 33px; width: 124px; right: 0px; display: none; position: absolute; z-index: 99999; box-sizing: border-box; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon {
	width: 16px; height: 16px; margin-top: -3px; margin-right: 8px; vertical-align: middle; display: inline-block;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon1 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-gz@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon2 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-sc@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon3 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-yx@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon4 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-yh@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon5 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-yc@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon6 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-gl@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon7 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-sz@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon8 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-cb@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon9 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-dd@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon10 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-bz@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon11 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-tc@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon12 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-edu@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl div .pull_icon13 {
	background-image: url("https://csdnimg.cn/public/common/toolbar/images/toolbar-download@2x.png"); background-size: 100% 100%;
}
.csdn-toolbar .container .pull-right .userControl .bord {
	padding: 8px 0px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid; box-sizing: border-box;
}
.csdn-toolbar .container .pull-right .userControl :last-child.bord {
	border: currentColor; border-image: none;
}
.csdn-toolbar .container .pull-right .userControl .bord div {
	margin: 0px 16px;
}
.csdn-toolbar .container .pull-right .userControl div a {
	text-align: left; color: rgb(61, 61, 61); font-size: 14px;
}
.csdn-toolbar .container .pull-right .userControl div a .toolbar-newsL {
	color: rgb(201, 32, 39); display: none;
}
.csdn-toolbar .container .pull-right .userControl div a:hover {
	color: rgb(201, 32, 39);
}
.csdn-toolbar .container .pull-right .userControl div:last-child a {
	padding-bottom: 4px;
}
.csdn-toolbar .container .pull-right .btns .userLogin .loginCenter a i {
	transform-origin: 50% 48%; transition:transform 0.3s, transform 0.3s; color: rgb(120, 128, 135); vertical-align: top; display: inline-block; -webkit-transform-origin: 50% 48%; -moz-transform-origin: 50% 48%; -o-transform-origin: 50% 48%;
}
.csdn-toolbar .container .pull-right .btns .userLogin:hover .loginCenter a i {
	transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg);
}
.csdn-toolbar .container .pull-right li a .icon-shouji {
	left: 2px; top: -2px; width: 19px; color: rgb(212, 212, 212); margin-right: 3px; vertical-align: middle; display: inline-block; position: relative;
}
.csdn-toolbar .container .pull-right li a .icon-tianxie {
	left: 2px; top: -2px; width: 19px; color: rgb(212, 212, 212); margin-right: 6px; vertical-align: middle; position: relative;
}
.loginCenter .icon-xiajiantou {
	vertical-align: top;
}
.csdn-toolbar .container .pull-right .write-bolg-btn {
	padding-left: 14px;
}
.csdn-toolbar .container .pull-right .gitChat a {
	border-radius: 50%; height: 26px; text-align: right; color: rgb(255, 255, 255); line-height: 26px; padding-right: 0px; padding-left: 0px; margin-left: 14px;
}
.csdn-toolbar .container .pull-right .gitChat a:hover span {
	color: rgb(202, 12, 22);
}
.csdn-toolbar .container .pull-right .gitChat a svg {
	margin-right: 2px; fill: #f59701;
}
.csdn-toolbar .container .pull-right .upload a svg {
	fill: #3399ea;
}
.csdn-toolbar .container .pull-right .gitChat a span {
	color: rgb(61, 61, 61); font-size: 14px; vertical-align: super;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a span {
	color: rgb(61, 61, 61); font-size: 14px; vertical-align: super;
}
.csdn-toolbar .container .pull-right .gitChat a .money {
	width: 20px; margin-top: -12px; margin-right: 4px; display: inline-block !important; max-height: 20px;
}
.csdn-toolbar .container .pull-right .gitChat a .message {
	width: 21px; margin-top: -12px; margin-right: 2px; display: inline-block !important;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a {
	border-radius: 50%; height: 26px; color: rgb(255, 255, 255); line-height: 26px; padding-right: 0px; padding-left: 0px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a:hover span {
	color: rgb(202, 12, 22);
}
.csdn-toolbar .container .pull-right .gitChat a .message-icon {
	background-position: 0px 1px; padding-bottom: 1px; padding-left: 22px; background-image: url("https://csdnimg.cn/public/common/toolbar/images/message-icon.svg"); background-repeat: no-repeat;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a svg {
	margin-right: 3px; fill: #ca0c16;
}
.csdn-toolbar .container .pull-right .gitChat a svg {
	width: 20px; height: 20px;
}
.csdn-toolbar .container .pull-right .write-bolg-btn a svg {
	width: 20px; height: 20px;
}
.csdn-toolbar .container .unlogin .userinfo {
	display: block;
}
.csdn-toolbar .container .unlogin .btns .userLogin {
	display: none;
}
.csdn-toolbar .container .search_bar {
	border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 160px; height: 26px; float: right;
}
.csdn-toolbar .container .search_bar .input_search {
	background: 0px 0px; padding: 4px 0px 4px 7px; border-radius: 10px; border: 0px currentColor; border-image: none; width: 122px; height: 18px; color: rgb(77, 77, 77); font-size: 14px; float: left; display: block;
}
.csdn-toolbar .container .search_bar .btn-search {
	padding: 0px 2px; width: 26px; height: 22px; text-align: center; color: rgb(204, 204, 204); line-height: 22px; font-size: 14px; float: right; display: block; background-color: rgba(0, 0, 0, 0);
}
.csdn-toolbar .container .search_bar .btn_clear {
	padding: 0px 2px; width: 26px; height: 22px; text-align: center; color: rgb(204, 204, 204); line-height: 22px; font-size: 14px; float: right; display: block; background-color: rgba(0, 0, 0, 0);
}
.csdn-toolbar .container .search_bar .btn_clear:hover {
	color: rgb(153, 153, 153);
}
.csdn-toolbar .container .search_bar a {
	margin-top: 3px;
}
.csdn-toolbar .container .search_bar a svg {
	width: 18px; height: 18px;
}
.csdn-toolbar .icon {
	background-image: none;
}
.csdn-toolbar .btn:active {
	outline: 0px; border: 0px currentColor; border-image: none; box-shadow: 0px 0px 0px transparent;
}
.csdn-toolbar .btn:focus {
	outline: 0px; border: 0px currentColor; border-image: none; box-shadow: 0px 0px 0px transparent;
}
.csdn-toolbar .container .show-more .show-more-a {
	margin: 7px 0px 0px 13px; padding: 0px; border-radius: 3px; width: 46px; height: 35px;
}
.csdn-toolbar .container .show-more .show-more-a svg {
	left: 26px; top: 22px; position: absolute;
}
.csdn-toolbar .container .show-more .show-more-a:hover {
	background: rgb(244, 245, 246);
}
.bdSug_wpr td {
	padding-right: 10px !important; padding-left: 10px !important;
}
.bdSug_app {
	padding: 8px !important;
}
.bdSug_wpr {
	border-radius: 4px !important;
}
.csdn-toolbar .tb_is1260hide {
	display: none;
}
.csdn-toolbar .tb_is1320hide {
	display: none;
}
.csdn-toolbar .tb_is1380hide {
	display: none;
}
.csdn-toolbar .tb_is1440hide {
	display: none;
}
.csdn-toolbar .tb_is1260show {
	display: block;
}
.csdn-toolbar .tb_is1320show {
	display: block;
}
.csdn-toolbar .tb_is1380show {
	display: block;
}
.csdn-toolbar .tb_is1440show {
	display: block;
}
.csdn-toolbar .tb_show {
	display: none;
}
@media all and (min-width:1260px)
{
.csdn-toolbar .tb_is1260hide {
	display: block;
}
.csdn-toolbar .tb_is1260show {
	display: none;
}
}
@media all and (min-width:1320px)
{
.csdn-toolbar .tb_is1320hide {
	display: block;
}
.csdn-toolbar .tb_is1320show {
	display: none;
}
.tb_bbs .tb_is1320hide {
	display: none;
}
.tb_bbs .tb_is1320show {
	display: block;
}
}
@media all and (min-width:1380px)
{
.csdn-toolbar .tb_is1380hide {
	display: block;
}
.csdn-toolbar .tb_is1380show {
	display: none;
}
.tb_bbs .tb_is1380hide {
	display: none;
}
.tb_bbs .tb_is1380show {
	display: block;
}
}
@media all and (min-width:1440px)
{
.csdn-toolbar .show-more {
	display: none;
}
.csdn-toolbar .tb_is1440hide {
	display: block;
}
.csdn-toolbar .tb_is1440show {
	display: none;
}
.tb_bbs .show-more {
	display: block;
}
.tb_bbs .tb_is1440hide {
	display: none;
}
.tb_bbs .tb_is1440show {
	display: block;
}
}
@media all and (min-width:1540px)
{
.tb_bbs .tb_is1320hide {
	display: block;
}
.tb_bbs .tb_is1320show {
	display: none;
}
}
@media all and (min-width:1568px)
{
.tb_bbs .tb_is1380hide {
	display: block;
}
.tb_bbs .tb_is1380show {
	display: none;
}
}
@media all and (min-width:1680px)
{
.tb_bbs .show-more {
	display: none;
}
.tb_bbs .tb_is1440hide {
	display: block;
}
.tb_bbs .tb_is1440show {
	display: none;
}
}
.csdn-bbs .topic-list .csdn-toolbar {
	padding: 0px 24px;
}
.csdn-toolbar .toolbar-prompt-box {
	background: rgba(51, 51, 51, 0.8); padding: 0px 8px; bottom: -32px; font-size: 14px; display: none; position: absolute; z-index: 1;
}
.toolbar-prompt-box span {
	font-size: 13px; white-space: nowrap;
}
.toolbar-prompt-box .arrow {
	border-width: 0px 5px 5px; border-style: solid; border-color: transparent transparent rgba(51, 51, 51, 0.9); left: 50%; top: -5px; width: 0px; height: 0px; position: absolute;
}
.toolbar_speck {
	border-radius: 50%; top: 12px; width: 6px; height: 6px; right: 14px; position: absolute; background-color: rgb(231, 64, 64);
}
.toolbar-circle {
	padding: 1px 4px !important; border-radius: 32%; border: 2px solid rgb(255, 255, 255); border-image: none; top: -8px; right: -14px; color: rgb(255, 255, 255); line-height: 15px !important; font-size: xx-small; vertical-align: middle; display: none; position: absolute; transform: scale(0.7); background-color: rgb(202, 12, 22);
}
html body .csdn-toolbar .tb_disnone {
	display: none;
}
html body .csdn-toolbar .icon {
	margin: 0px;
}
.csdn-toolbar .container li.vip-caise {
	padding-right: 28px; position: relative;
}
.vip-caise img {
	width: 20px; padding-right: 2px; vertical-align: sub; display: inline-block !important;
}
.vip-caise .vip-totast {
	left: 62%; top: 33%; width: 36px; display: inline-block; position: absolute;
}
.vip-caise .vip-totast img {
	width: auto; height: auto; padding-right: 0px; max-width: 100%;
}
.csdn-toolbar .container .app-btn {
	position: relative;
}
.csdn-toolbar .container .baidu-app-btn {
	position: relative;
}
.csdn-toolbar .container .app-btn .appControl {
	width: 233px;
}
.csdn-toolbar .container .app-btn .appControl {
	padding: 16px 16px 39px; border-radius: 4px; left: -96px; top: 39px; display: none; position: absolute; z-index: 99999; box-sizing: border-box; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.csdn-toolbar .container .baidu-app-btn .baiduControl {
	padding: 16px 16px 39px; border-radius: 4px; left: -96px; top: 39px; display: none; position: absolute; z-index: 99999; box-sizing: border-box; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.csdn-toolbar .container .baidu-app-btn .baiduControl {
	left: -39px; top: 31px; width: 160px; text-align: center; z-index: 999;
}
.csdn-toolbar .container .baidu-app-btn a {
	cursor: default;
}
.csdn-toolbar .container .baidu-app-btn .baiduControl p {
	text-align: center; line-height: 16px; font-size: 14px; margin-bottom: 6px;
}
.csdn-toolbar .container .app-btn .appControl span {
	text-align: center; font-size: 0px; vertical-align: middle; display: inline-block; position: relative;
}
.csdn-toolbar .container .baidu-app-btn .baiduControl span {
	text-align: center; font-size: 0px; vertical-align: middle; display: inline-block; position: relative;
}
.csdn-toolbar .container .app-btn .appControl em {
	left: 0px; width: 100%; bottom: -26px; font-size: 14px; font-style: normal; vertical-align: middle; display: inline-block; position: absolute;
}
.csdn-toolbar .container .baidu-app-btn .baiduControl em {
	left: 0px; width: 100%; bottom: -26px; font-size: 14px; font-style: normal; vertical-align: middle; display: inline-block; position: absolute;
}
.csdn-toolbar .container .app-btn img {
	width: 90px;
}
.csdn-toolbar .container .baidu-app-btn img {
	width: 90px;
}
.appControl img {
	float: left;
}
.appControl .eduwx {
	margin-left: 16px;
}
.appControl .eduwx em {
	bottom: -27px;
}
.msgBox {
	position: relative;
}
.msgBox .msgTitle {
	padding: 0px; height: 26px; text-align: right; line-height: 26px; margin-left: 14px;
}
.msgList {
	padding: 8px 16px !important; border-radius: 3px; top: 33px; width: 85px; font-size: 14px; display: none; position: absolute; z-index: 999; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.msgList a {
	margin: 8px 0px !important; height: auto !important; text-align: left !important; color: rgb(61, 61, 61) !important; line-height: 22px !important; letter-spacing: 0px; font-size: 14px; display: block !important;
}
.msgList a:hover {
	color: rgb(202, 12, 22) !important;
}
.msgList a em {
	color: rgb(204, 27, 37); line-height: 0 !important; font-style: normal; margin-left: 8px; display: inline-block;
}
